@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Nuevas FUENTES */

@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

:root{
    --header-font: "Jost", serif;
    --header-font-Vieja: "Yusei Magic", serif;
    --font-general: "Jost", serif;
    --font-text: "Quicksand", serif;
    --principal: #e48aa5;
    --menu: #fac6d7;
    --menu2: #fac6d7;
    --botones: #d3d88e;
    --letra: #494949;
    --letra2: #fff;
    --letra2: #efede3;
    --violeta: #642bff;
    --black: #494949;
    --white: #fff;

    --naranja: #f8ad40;
    --verde: #d3d88e;
}
/*Auto scrol*/

html{
    scroll-behavior: smooth;
}

section[id]{
    scroll-margin-top: 70px;
}

body{
    background-color: var(--principal);
    color: var(--letra);
}

img{
    max-width: 100%;
}

/* SPANS */
.span-verde {
    color: var(--verde);
}

.span-rosa{
    color: var(--principal);
}

/* LINE */
.line{
    background-color: var(--letra3);
    height: 10px;
    width: 50px;
    margin-bottom: 25px;
    border-radius: 5px;
}

/*Tamaño de contenedor general, cambiar individualmete si lo necesito*/

.container{
    max-width: 1100px;
    /*0 arriba y abajo - Izq y der automatico al centro*/
    margin: 0 auto;
}

/*Menu-Barra*/
.menu{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100000;
    background-color: var(--menu);
}

.logo .logo-img{
    width: 100px;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 15px;
    padding: 20px;
    color: var(--letra);
    display: block;
}

.menu .navbar ul li a:hover{
    color: violet;
}

/*Todo esto es para cuando se despliegue la version de celular*/
#menu{
    /*Para q no aparezca el INPUT*/
    display: none;
}

.menu-icon{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

/* MENU VERTICAL */
.menu-vertical{
    position: fixed;
    display: none;
    width: 200px;
    background-color: var(--menu2);
}

.menu-horizonal {
    transition: .8s;
}

.menu-horizonal li:hover .menu-vertical{
    display: block;
} 

/* HEADER */

.header-content{
    background-image: linear-gradient( rgba(0,0,0, 0.5), rgba(0,0,0, 0.5) ), url(img/Asesoria.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    min-height: 90vh;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
}

.header-content h1{
    font-family: var(--font-general);
    font-size: 4rem;
    width: 60%;
    line-height: 5rem;
    margin-bottom: 20px;
}

.header-content .span-verde{
    font-family: var(--header-font);
}

.header-content .subtittle-header{
    font-family: var(--font-general);
    font-size: 2rem;
    width: 36%;
    margin-bottom: 20px
}


.header-content .text-header{
    font-family: var(--font-general);
    font-size: 1.5rem;
}


/* MAIN - SERVICIOS */
main{
    margin: 100px auto;
    color: var(--letra2);
}

main .main-tittle{
    text-align: center;
    font-family: var(--header-font);
    font-size: 3.2rem;
    margin-bottom: 35px;
}

.services-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.serv-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.serv-text h2{
    font-family: var(--header-font);
    font-size: 2.6rem;
    width: 90%;
    margin-bottom: 20px;
}

.serv-text .span-verde{
    font-family: var(--header-font);
}

.serv-text .sub-services{
    font-family: var(--font-general);
    font-size: 2rem;
    font-weight: 700;
}

.serv-text .text-services{
    font-family: var(--font-text);
    font-size: 1.2rem;
    width: 80%;
    margin-bottom: 20px;
}

.serv-img{
    display: flex;
    justify-content: center;
}

.serv-img img{
    height: 600px;
    border-radius: 150px 0 150px 0;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.404);
}

.services-content{
    background-color: var(--principal);
}

.icono-services{
    display: none;
}

.services-container p{
    font-family: var(--font-text);
    font-weight: 600;
    font-size: 1.2rem;
}

.services-container p::before{
    content: '*';
}

.separacion{
    margin-bottom: 70px;
}

/* CONTACNTO */
.contact-content{
    display: flex;
    flex-direction: column;
    background: rgb(211,216,142);
    background: rgb(250,198,215);
    background: linear-gradient(90deg, rgba(250,198,215,1) 0%, rgba(255,255,255,1) 61%);
    color: var(--letra);
    padding: 50px 0;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-content .precio{
    margin-bottom: 20px;
}

.contact-content h2{
    font-family: var(--header-font);
    font-size: 3rem;
    margin-bottom: 30px;
}

.contanct-text p{
    font-family: var(--font-general);
    font-size: 1.3rem;
}

.contanct-text p::before{
    content: '*';
}

.contact-content h3{
    font-family: var(--header-font);
    font-size: 1.3rem;
    margin-bottom: 25px;
}

.contact-content h4{
    font-family: var(--font-general);
    font-size: 1.8rem;
}

.formas-de-pago{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 25px;
}

.formas-de-pago i{
    color: var(--principal);
    font-size: 15px;
}

.formas-de-pago .pago-1{
    margin-bottom: 10px;
}

.formas-de-pago h5{
    color: var(--black);
    font-size: 15px;
}

.btn-contact{
    background-color: var(--principal);
    font-size: 1.2rem;
    color: var(--letra2);
    padding: 15px;
    border-radius: 15px;
    transition: .3s;
}

.btn-contact:hover{
    background-color: var(--naranja);
    color: var(--letra2);
}



/**DIV FOOTER - Info y redes sociales*/

.footer-info1{
    color: var(--black);
}

.footer-info1 .footer-contact a{
    color: var(--black);
}


.footer-info{
    padding: 50px;
    text-align: center;
    background-color: var(--menu2);
}

.footer-info1{
    display: flex;
    text-align: left;
    gap: 250px;
    justify-content: center;
}

.footer-text p{
    font-size: 1.1rem;
}

/*Redes sociales*/

.footer-redes1{
    padding: 20px 0 0 0;
    display: flex;
    justify-content: space-around;
    gap: 25px;
}

.footer-redes1 a{
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: var(--botones);
    color: var(--black);
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
}

.footer-redes1 a:hover{
    transform: scale(1.2);
    background-color: var(--principal);
    color: var(--black);
}

/*BOTON TOP*/

.botton-top-container{
    position: fixed;
    bottom: 0.1rem;
    right: 4rem;
    width: 6.6rem;
    height: 6.6rem;
    z-index: -1;
}

.botton-top{
    width: 0rem;
    height: 0rem;
    background-color: var(--letra);
    border-radius: 50%;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.botton-top i{
    position: absolute;
    font-size: 1.7rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: white;
    transition: .2s;
}

.show{
    z-index: 10;
}

.show .botton-top{
    animation: pop .3s ease-in-out;
    height: 4.6rem;
    width: 4.6rem;
    z-index: 11;
}

.show i{
    transform: translate(-50%, -50%) scale(1);
}

@keyframes pop{
    0%{
        width: 0;
        height: 0;
    }
    50%{
        width: 8rem;
        height: 8rem;
    }
    100%{
        height: 4.6rem;
        width: 4.6rem;
    }
}

/**FOOTER**/
footer{
    text-align: center;
    background-color: var(--principal);
    display: flex;
    padding: 30px;
    justify-content: center;
    gap: 50px;
}

footer a{
    font-family: var(--menu);
    text-decoration: none;
    color: var(--black);
}

footer i{
    margin: 0 auto;
}

footer p{
    color: var(--black);
    font-size: 1rem;
}


@media (max-width: 480px) {
    .menu{
        padding: 15px;
    }

    .menu label{
        display: initial;
    }

    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        display: none;
        background-color: var(--menu);
    }

    .menu .navbar ul li{
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .menu .logo{
        padding: 0 25px 0 25px;
    }

    .menu-vertical{
        z-index: 100;
        background-color: var(--menu);
    }

    .main{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .container{
        max-width: 100%;
        margin: 0 auto;
    }

    .header-content{
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        padding: 0 30px;
    }

    .header-content h1{
        width: 100%;
        font-size: 3rem;
        line-height: 3.3rem;
    }

    .header-content .subtittle-header{
        width: 100%;
        font-size: 1.5rem;
    }

    .services-1{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .serv-text h2{
        margin: 0 auto;
    }

    .serv-img img{
        display: none;
    }

    .tittle-serv{
        margin: 0 auto;
    }

    .sub-services{
        margin: 0 auto;
    }

    .text-services{
        margin: 0 auto;
    }

    .services-container{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .contact-content{
        padding: 100px 25px;
    }

    .contact-content h2{
        width: 80%;
    }

    .icono-services{
        display: initial;
    }

    .icono-services{
        width: 300px;
        margin: 0 auto;
    }

    .services-1{
        margin: 20px;
    }




    .footer-info1{
        display: flex;
        flex-direction: column;
        gap: 50px;
        text-align: center;
    }

    footer{
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin: 0 auto;
    }

    footer p{
        width: 70%;
        margin: 0 auto;
    }

    footer .p-extra{
        width: 60%;
    }

    /* TAMAÑOS DE FUENTES CEL */
    .services-1 h2{
        font-size: 2rem;
    }

    .services-1 .sub-services{
        font-size: 1.7rem;
    }

    .services-1 .text-services{
        font-size: 1rem;
    }

    .services-1 .services-container p{
        font-size: 1.2rem;
        padding: 0px;
    }

    .contact-content h2{
        font-size: 2rem;
    }

    .contact-content p{
        font-size: 1.2rem;
    }

    .contact-content .precio{
        font-size: 1rem;
    }

    .contact-content h3{
        font-size: 2rem;
    }

    .contact-content h4{
        font-size: 1.4rem;
        margin-bottom: 10px;
    }

    .formas-de-pago h5{
        font-size: 1.2rem;
    }

    main .main-tittle{
        font-size: 3rem;
        padding: 0px;
    }

    /* MENÚ VERTICAL CAMBIO */
    .menu-vertical{
        z-index: 10000;
        /* background-color: var(--menu); */
        background-color: var(--letra2);
        color: var(--principal);
        left: 110px;
    }

    .formas-de-pago h5{
        font-size: 0.9rem;
    }

    .formas-de-pago i{
        font-size: 0.9rem;
    }
}