@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Nuevas FUENTES */

@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

:root {
    --header-font: "Jost", serif;
    --header-font-Vieja: "Yusei Magic", serif;
    --font-general: "Jost", serif;
    --font-text: "Quicksand", serif;
    --principal: #e48aa5;
    --menu: #fac6d7;
    --menu2: #fac6d7;
    --botones: #d3d88e;
    --letra: #494949;
    --letra2: #fff;
    --letra2: #efede3;
    --violeta: #642bff;
    --black: #494949;
    --white: #fff;

    --naranja: #f8ad40;
    --verde: #d3d88e;
}

/*Auto scrol*/

html {
    scroll-behavior: smooth;
}

section[id] {
    scroll-margin-top: 70px;
}

body {
    background-color: var(--principal);
    color: var(--letra);
}

img {
    max-width: 100%;
}

/* SPANS */
.span-verde {
    color: var(--verde);
}

.span-rosa {
    color: var(--principal);
}

/* LINE */
.line {
    background-color: var(--letra3);
    height: 10px;
    width: 50px;
    margin-bottom: 25px;
    border-radius: 5px;
}

/*Tamaño de contenedor general, cambiar individualmete si lo necesito*/

.container {
    max-width: 1100px;
    /*0 arriba y abajo - Izq y der automatico al centro*/
    margin: 0 auto;
}

/*Menu-Barra*/
.menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100000;
    background-color: var(--menu);
}

.logo .logo-img {
    width: 100px;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 15px;
    padding: 20px;
    color: var(--letra);
    display: block;
}

.menu .navbar ul li a:hover {
    color: violet;
}

/*Todo esto es para cuando se despliegue la version de celular*/
#menu {
    /*Para q no aparezca el INPUT*/
    display: none;
}

.menu-icon {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

/* MENU VERTICAL */
.menu-vertical {
    position: fixed;
    display: none;
    width: 200px;
    background-color: var(--menu2);
}

.menu-horizonal {
    transition: .8s;
}

.menu-horizonal li:hover .menu-vertical {
    display: block;
}

/* SPANS */
.span-pink {
    color: var(--principal);
}

/* HEADER */

.header-content {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/Asesoria.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    min-height: 90vh;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
}

.header-content h1 {
    font-family: var(--font-general);
    font-size: 5rem;
}

.header-content .sub-header {
    font-family: var(--font-text);
    font-size: 1.5rem;
    margin-top: 10px;
    width: 30%;
}

/* MAIN */
main {
    margin: 80px 0;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    text-align: center;
}

.content-main{
    border: var(--letra) 1px solid;
    border-radius: 15px;
    background-color: var(--menu2);

    width: 500px;
    margin: 0 auto;
    transition: .5s;
}

.content-main h2 {
    font-family: var(--header-font);
    font-size: 2rem;
    margin: 20px 0;
}

.content-main img{
    width: 600px;
}

.content-main .price{
    font-family: var(--font-general);
    font-size: 2rem;
    margin-bottom: 15px;
    text-align: center;
}

.content-main .price-2{
    font-family: var(--font-general);
    font-size: 2rem;
    text-align: center;
}

.content-main .text-main{
    font-family: var(--font-text);
    font-size: 1.4rem;
}

.content-main .sub-text-main{
    font-family: var(--font-text);
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.content-main:hover{
    background-color: var(--white);
    color: var(--principal);
}

/**DIV FOOTER - Info y redes sociales*/

.footer-info1 {
    color: var(--black);
}

.footer-info1 .footer-contact a {
    color: var(--black);
}


.footer-info {
    padding: 50px;
    text-align: center;
    background-color: var(--menu2);
}

.footer-info1 {
    display: flex;
    text-align: left;
    gap: 250px;
    justify-content: center;
}

.footer-text p {
    font-size: 1.1rem;
}

/*BOTON TOP*/

.botton-top-container {
    position: fixed;
    bottom: 0.1rem;
    right: 4rem;
    width: 6.6rem;
    height: 6.6rem;
    z-index: -1;
}

.botton-top {
    width: 0rem;
    height: 0rem;
    background-color: var(--letra);
    border-radius: 50%;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.botton-top i {
    position: absolute;
    font-size: 1.7rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: white;
    transition: .2s;
}

.show {
    z-index: 10;
}

.show .botton-top {
    animation: pop .3s ease-in-out;
    height: 4.6rem;
    width: 4.6rem;
    z-index: 11;
}

.show i {
    transform: translate(-50%, -50%) scale(1);
}

@keyframes pop {
    0% {
        width: 0;
        height: 0;
    }

    50% {
        width: 8rem;
        height: 8rem;
    }

    100% {
        height: 4.6rem;
        width: 4.6rem;
    }
}


/**FOOTER**/
footer {
    text-align: center;
    background-color: var(--menu);
    display: flex;
    padding: 30px;
    justify-content: center;
    gap: 50px;
}

footer a {
    font-family: var(--menu);
    text-decoration: none;
    color: var(--black);
}

footer i {
    margin: 0 auto;
}

footer p {
    color: var(--black);
    font-size: 1rem;
}