@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


/* Nuevas FUENTES */

@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

:root{
    --header-font: "Jost", serif;
    --header-font-Vieja: "Yusei Magic", serif;
    --font-general: "Jost", serif;
    --font-text: "Quicksand", serif;
    --principal: #e48aa5;
    --menu: #fac6d7;
    --menu2: #fac6d7;
    --botones: #d3d88e;
    --letra: #494949;
    --letra2: #fff;
    --letra3: #efede3;
    --violeta: #642bff;
    --black: #494949;
    --white: #fff;

    --naranja: #f8ad40;
    --verde: #d3d88e;
}


/*Auto scrol*/

html{
    scroll-behavior: smooth;
}

section[id]{
    scroll-margin-top: 70px;
}

body{
    background-color: var(--principal);
    color: var(--letra);
}

img{
    max-width: 100%;
}

/* .work-img img{
    min-width: 100%;
} */

/* SPANS */
.span-verde {
    color: var(--verde);
}

.span-rosa{
    color: var(--principal);
}

.span-rect{
    background-color: var(--principal);
    color: var(--letra2);
}

/* LINE */
.line{
    background-color: var(--letra3);
    height: 10px;
    width: 50px;
    margin-bottom: 25px;
    border-radius: 5px;
}

/*Tamaño de contenedor general, cambiar individualmete si lo necesito*/

.container{
    max-width: 1300px;
    /*0 arriba y abajo - Izq y der automatico al centro*/
    margin: 0 auto;
}

/*Menu-Barra*/
.menu{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100000;
    background-color: var(--menu2);
}

.logo .logo-img{
    width: 100px;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 15px;
    padding: 20px;
    color: var(--letra);
    display: block;
}

.menu .navbar ul li a:hover{
    color: violet;
}

/*Todo esto es para cuando se despliegue la version de celular*/
#menu{
    /*Para q no aparezca el INPUT*/
    display: none;
}

.menu-icon{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

/* MENU VERTICAL */
.menu-vertical{
    position: fixed;
    display: none;
    width: 200px;
    background-color: var(--menu2);
}

.menu-horizonal {
    transition: .8s;
}

.menu-horizonal li:hover .menu-vertical{
    display: block;
} 

/* HEADER */
.header-tittle{
    background-image: linear-gradient( rgba(0,0,0, 0.5), rgba(0,0,0, 0.5) ), url(img/web-portada.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    min-height: 90vh;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
}

.header-tittle h1{
    font-family: var(--font-general);
    font-size: 5rem;
}

.header-tittle p{
    font-family: var(--font-general);
    font-size: 1.5rem;
}

.header-tittle .txt-1{
    max-width: 65%;
}

.header-tittle .txt-2{
    max-width: 28%;
}

.header-tittle .txt-3{
    max-width: 30%;
}

/* Sitios Web */
.web-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 200px auto;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 80px;
}

.web-img{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.web-img img{
    width: 500px;
    min-width: 100%;
}

.web-title {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-right: 50px;
    color: var(--letra3);
}

.landing-img{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.web-title .landing-img h2{
    font-size: 3.0rem;
    font-family: var(--header-font-Vieja);
    color: var(--letra);
    border-radius: 10px 10px;
    margin-bottom: 20px;
}

.web-title .landing-img .precio-landing{
    font-family: var(--header-font);
    font-size: 1.8rem;
    background-color: var(--naranja);
    padding: 0 5px;
    border-radius: 0px;
}

.web-title .landing-img p{
    font-size: 1.6rem;
    padding-bottom: 25px;
    font-family: var(--font-text);
}

.web-title .landing-img .sub-text{
    font-size: 1.2rem;
    color: var(--letra);
}

/* Parte de E-COMmERCE */

.eco-tittle{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.web-title .eco-tittle h2{
    font-size: 3rem;
    font-family: var(--header-font-Vieja);
    color: var(--letra);
    border-radius: 10px 10px;
    margin-bottom: 20px;
}

.web-title .eco-tittle .precio-landing{
    font-family: var(--header-font);
    font-size: 1.8rem;
    background-color: var(--naranja);
    padding: 0 5px;
    border-radius: 0px;
}

.web-title .eco-tittle p{
    font-size: 1.6rem;
    padding-bottom: 25px;
    font-family: var(--font-text);
}

.web-title .eco-tittle .sub-text{
    font-size: 1.2rem;
    color: var(--letra);
}

/* FORMA DE TRABAJO */
.work-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    /* background-color: var(--menu2); */
    background: rgb(211,216,142);
    background: linear-gradient(243deg, rgba(211,216,142,1) 0%, rgba(255,255,255,1) 100%);
    padding-left: 220px;
    color: var(--letra);
    padding-top: 100px;
    padding-bottom: 100px;
}

.work-content .work-text h2{
    font-family: var(--header-font);
    font-size: 3rem;
    padding-bottom: 15px;
}

.work-content .work-subtittle{
    font-size: 1.5rem;
    max-width: 70%;
    font-family: var(--font-general);
}

.work-content .work-text-1{
    max-width: 70%;
}

.work-content .work-text h3{
    font-family: var(--header-font);
    font-size: 1.5rem;
    text-transform: uppercase;
}

.work-content .work-text h4{
    font-family: var(--font-text);
    font-size: 1.5rem;
}

.work-content p{
    font-size: 1rem;
    padding-bottom: 15px;
}

.work-content .work-img{
    display: flex;
    justify-content: center;
}

.work-content .work-img img{
    position: relative;
    height: 700px;
    right: 100px;
}

/* CONSULTAS */
.consulta-content{
    background-image: url(img/lugares2.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    min-height: 60vh;
    text-align: center;
    position: relative;
}

.lug-text{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.lug-text h2{
    font-size: 2.5rem;
    font-family: var(--header-font);
    margin-bottom: 25px;
}

.lug-text p{
    margin-bottom: 15px;
    max-width: 40ch;
    font-size: 1.3rem;
    font-family: var(--font-text);
}

.lug-text .lug-span{
    color: var(--botones);
}

.lug-text a{
    background-color: var(--naranja);
    font-size: 1.5rem;
    color: var(--black);
    padding: 15px 25px;
    border-radius: 15px;
    transition: .3s;
}


.lug-text a:hover{
    background-color: white;
    color: var(--principal);
}

/**DIV FOOTER - Info y redes sociales*/

.footer-info1{
    color: var(--black);
}

.footer-info1 .footer-contact a{
    color: var(--black);
}


.footer-info{
    padding: 50px;
    text-align: center;
    background-color: var(--menu2);
}

.footer-info1{
    display: flex;
    text-align: left;
    gap: 250px;
    justify-content: center;
}

.footer-text p{
    font-size: 1.1rem;
}

/*Redes sociales*/

.footer-redes1{
    padding: 20px 0 0 0;
    display: flex;
    justify-content: space-around;
    gap: 25px;
}

.footer-redes1 a{
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: var(--botones);
    color: var(--black);
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
}

.footer-redes1 a:hover{
    transform: scale(1.2);
    background-color: var(--principal);
    color: var(--black);
}

/*BOTON TOP*/

.botton-top-container{
    position: fixed;
    bottom: 0.1rem;
    right: 4rem;
    width: 6.6rem;
    height: 6.6rem;
    z-index: -1;
}

.botton-top{
    width: 0rem;
    height: 0rem;
    background-color: var(--letra);
    border-radius: 50%;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.botton-top i{
    position: absolute;
    font-size: 1.7rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: white;
    transition: .2s;
}

.show{
    z-index: 10;
}

.show .botton-top{
    animation: pop .3s ease-in-out;
    height: 4.6rem;
    width: 4.6rem;
    z-index: 11;
}

.show i{
    transform: translate(-50%, -50%) scale(1);
}

@keyframes pop{
    0%{
        width: 0;
        height: 0;
    }
    50%{
        width: 8rem;
        height: 8rem;
    }
    100%{
        height: 4.6rem;
        width: 4.6rem;
    }
}

/**FOOTER**/
footer{
    text-align: center;
    background-color: var(--principal);
    display: flex;
    padding: 30px;
    justify-content: center;
    gap: 50px;
}

footer a{
    font-family: var(--menu);
    text-decoration: none;
    color: var(--black);
}

footer i{
    margin: 0 auto;
}

footer p{
    color: var(--black);
    font-size: 1rem;
}


@media (max-width: 480px) {
    .menu{
        padding: 15px;
    }

    .menu label{
        display: initial;
    }

    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        display: none;
        background-color: var(--menu);
    }

    .menu .navbar ul li{
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .menu .logo{
        padding: 0 25px 0 25px;
    }

    .menu-vertical{
        z-index: 100;
        background-color: var(--menu);
    }

    .main{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .container{
        max-width: 100%;
        margin: 0 auto;
    }

    .main-principal{
        padding: 0 15px;
    }

    .header-tittle h1{
        font-size: 4rem;
    }

    .header-tittle p{
        font-size: 1.2rem;
        /* padding: 0 20px; */
    }

    .header-tittle .txt-1{
        max-width: 100%;
    }

    .header-tittle .txt-2{
        max-width: 100%;
        padding: 0 10px;
    }

    .header-tittle .txt-3{
        max-width: 100%;
        padding: 0 10px;
    }

    .web-content{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 70px 0;
    }

    .web-img{
        display: flex;
        flex-direction: column;
    }

    .web-title{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0;
    }

    .web-title .line{
        margin: 0 auto;
        margin-bottom: 15px;
    }

    .landing-img{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
    }

    .landing-img h2, p{
        margin: 0 auto;
    }

    .eco-tittle h2, p{
        margin: 0 auto;
    }

    /* work-content */
    .work-content{
        display: flex;
        flex-direction: column;
        padding: 45px 10px;
    }

    .work-text{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
    }

    .work-content .work-subtittle{
        max-width: 80%;
        /* margin: 0 auto; */
    }

    .work-text-1{
        /* margin: 0 auto; */
        width: auto;
    }

    .work-text h3{
        max-width: 70%;
        margin: 0 auto;
    }

    .work-text h4{
        max-width: 80%;
        margin: 0 auto;
    }

    .lug-text {
        padding: 0 25px;
    }

    .lug-text p{
        width: 90%;
    }

    .lug-text .botom-lugares{
        font-size: 15px;
        padding: 15px;
    }

    .footer-info1{
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .work-content .work-img img{
        display: none;
    }

    footer{
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin: 0 auto;
    }

    footer p{
        width: 70%;
        margin: 0 auto;
    }

    footer .p-extra{
        width: 60%;
    }

    /* MENÚ VERTICAL CAMBIO */
    .menu-vertical{
        z-index: 10000;
        /* background-color: var(--menu); */
        background-color: var(--letra2);
        color: var(--principal);
        left: 110px;
    }

    .header-tittle .txt-2{
        margin: 0px;
    }
}